@-moz-document domain(youtube.com) {
	/* Sidebar */
	ytd-guide-entry-renderer {
		border-radius: 4px !important;
	}

	/* Main interface */
	#container.ytd-searchbox {
		border-radius: 4px 0px 0px 4px !important;
	}

	#search-icon-legacy {
		border-radius: 0px 4px 4px 0px !important;
	}

	#voice-search-button {
		display: none !important;
	}

	#thumbnail {
		border-radius: 4px;
	}
	#thumbnail > * {
		border: 1px solid rgba(128, 128, 128,0.25);
		border-radius: 4px;
		box-shadow: 0px 0px 5px black;
	}

	ytd-watch-flexy[rounded-player-large][default-layout] #ytd-player.ytd-watch-flexy {
		border-radius: 4px !important;
		border: 1px solid rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
	}

	/* Video Buttons (Like/Dislike/Share/Ect) */
	.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--segmented-start {
		border-radius: 4px 0 0 4px !important;
	}
	.yt-spec-button-shape-next--size-m.yt-spec-button-shape-next--segmented-end {
		border-radius: 0 4px 4px 0 !important;
	}
	.yt-spec-button-shape-next--size-m {
		border-radius: 4px !important;
	}

	/* Live chat replay (Redundant) */
	#teaser-carousel {
		display: none !important;
	}

	#description.ytd-watch-metadata {
		border-radius: 4px !important;
	}

	/* Shorts */
	ytd-reel-shelf-renderer,
	ytd-rich-shelf-renderer,
	.YtdRichGridGroupContents,
	.YtdRichGridGroupHost {
		display: none !important;
	}

	/* Sidebar */
	#guide-content.ytd-app {
		background: transparent !important;
	}
	#contentContainer.tp-yt-app-drawer {
		background-color: rgba(15, 15, 15, 0.75) !important;
		border-right: 1px solid rgba(128, 128, 128, 0.25) !important;
		backdrop-filter: blur(10px) !important;
	}

	ytd-guide-section-renderer:nth-child(1) > * > :nth-child(2) {
		display: none !important;
	}

	.style-scope.ytd-guide-renderer:nth-child(3),
	.style-scope.ytd-guide-renderer:nth-child(4),
	.style-scope.ytd-guide-renderer:nth-child(5) {
		display: none !important;
	}

	#guide-links-primary,
	#guide-links-secondary,
	#copyright {
		display: none;
		color: transparent;
	}
}
