window#waybar {
    background: @theme_bg_color;
    border: 1px solid @borders;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.25s;
}

tooltip {
    color: @theme_text_color;
    background: @theme_bg_color;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

#custom-notification,
#custom-recorder,
#clock,
#custom-weather,
#tray,
#wireplumber,
#network,
#cpu,
#memory,
#temperature,
#battery {
    color: @theme_text_color;
    padding: 0px 8px 0px 8px;
}

#custom-notification {
    margin-left: 8px;
}

#temperature {
    margin-right: 8px;
}
