window#waybar {
    background: @theme_bg_color;
    background-image: url("~/.config/waybar/noise.png");
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4;
}

tooltip {
    color: @theme_text_color;
    background: @theme_bg_color;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

#custom-notification,
#clock,
#custom-weather,
#tray,
#window,
#wireplumber,
#network,
#cpu,
#memory,
#battery,
#temperature {
    color: @theme_text_color;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 8px 0px 8px;
}

#temperature {
    margin-right: 4px;
}

#custom-notification {
    margin-left: 4px;
    padding-right: 0px;
}
