window {
    margin: 0px;
    border-radius: 4px;
}

#input {
    margin: 10px;
    min-height: 40px;
}

#inner-box {
    margin: 5px;
    background-color: transparent;
}

#outer-box {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#scroll {
    border-top: 1px solid @borders;
    background-color: transparent;
    border-radius: 0px 0px 4px 4px;
}

#entry {
    padding: 5px;
    margin: 3px;
}

#entry:selected {
    outline: none;
    background-color: alpha(currentColor, 0.05);
}

#entry > box > label {
    margin-left: 10px;
}
