button {
    color: @theme_text_color;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    margin: 5px;
}

button:focus, button:active, button:hover {
    box-shadow: 0 0 0 1px @theme_selected_bg_color;
}

#lock {
    background-image: image(url("~/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("~/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("~/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("~/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/amir/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/amir/.config/wlogout/icons/reboot.png"));
}

#firmware {
    background-image: image(url("/home/amir/.config/wlogout/icons/reboot.png"));
}
