window {
	background-color: transparent;
	background-image: url("/home/user/.config/gtklock/lockscreen.jpg");
}

#user-image {
	background-color: alpha(@theme_bg_color, 0.75);
	border: 3px solid white;
	border-radius: 50%;
	box-shadow: 0 5 5px rgba(0,0,0,0.25);
	margin: 10px;
	margin-bottom: 0px;
}

#unlock-button {
	margin-top: -46px;
	margin-bottom: 22px;
}

#unlock-button,
#input-label {
	opacity: 0;
}

#input-field {
	min-height: 38px;
	margin-right: 80px;
	margin-left: 20px;
	margin-top: 10px;
	background: alpha(currentColor, 0.05);
	border: 1px solid @borders;
	box-shadow: 0 5 5px rgba(0, 0, 0, 0.1);
}

#playerctl-box {
	opacity: 0;
	border: 1px solid @borders;
	background: alpha(currentColor, 0.05);
	box-shadow: 0 5 5px rgba(0,0,0,0.25);
	border-radius: 4px;
	padding: 10px;
	margin: 20px;
}

#playerctl-box > box {
	min-height: 96px;
	margin-left: -5px;
	margin-right: -16px;
}

#playerctl-box > buttonbox {
	margin-left: -200px;
	margin-right: 80px;
	margin-top: 30px;
	margin-bottom: -30px;
}

#playerctl-box > buttonbox > button {
	background: transparent;
	border-radius: 4px;
	margin-right: 5px;
	box-shadow: none;
}
#playerctl-box > buttonbox > button:hover {
	background-color: alpha(currentColor, 0.05);
}
window.hidden #playerctl-box {
	opacity: 1;
}

#clock-label {
	transition: all 0.25s ease-in-out;
	text-shadow: 0 3 3px rgba(0, 0, 0, 0.1);
	margin-top: -580px;
	font-size: 82px;
	opacity: 0;
	background-image: url("/tmp/lockscreen-date.png");
	background-repeat: no-repeat;
	background-position: center 350px;
}

window.hidden #clock-label {
	margin-top: -600px;
	font-size: 96px;
	opacity: 1;
}

#runshell-box {
	background-image: -gtk-icontheme("system-lock-screen-symbolic");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 22px;
	min-width: 32px;
}

#runshell {
	font-size: 14px;
	margin-top: 30px;
}
