#user-image {
    background-color: alpha(@theme_base_color, 0.9);
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 20px;
}

#user-name {
    margin-top: -20px;
    margin-bottom: -10px;
}

#unlock-button {
    margin-top: -46px;
    margin-bottom: 22px;
    opacity: 0;
}

#input-field {
    min-height: 38px;
    margin-right: 80px;
    margin-left: 20px;
    margin-top: 10px;
}

#input-label {
    opacity: 0;
}

#playerctl-box {
    border: 1px solid @borders;
    background: alpha(currentColor, 0.05);
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    border-radius: 4px;
    padding: 10px;
    margin: 20px;
}

#playerctl-box > box {
    min-height: 96px;
    margin-left: -5px;
    margin-right: -16px;
}

#playerctl-box > buttonbox {
    margin-left: -200px;
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: -30px;
}

#playerctl-box > buttonbox > button {
    background: transparent;
    border-radius: 4px;
    margin-right: 5px;
    box-shadow: none;
}
#playerctl-box > buttonbox > button:hover {
    background-color: alpha(currentColor, 0.05);
}

#clock-label {
    transition: all 0.25s ease-in-out;
    margin-top: -580px;
    font-size: 82px;
    opacity: 0;
}

window.hidden #clock-label {
    margin-top: -600px;
    font-size: 96px;
    opacity: 1;
}
