:root {
	--tab-min-height: 36px !important;
	--urlbar-height: 36px !important;
	--toolbar-bgcolor: transparent !important;
	--tabpanel-background-color: #0D0D0D !important
}

#navigator-toolbox {
	background-color: rgba(13, 13, 13, 0.9) !important;
}

#titlebar {
	z-index: 1 !important;
	position: fixed !important;
	left: 120px !important;
	right: 80px !important;
	width: calc(100vw - 200px);
}

#titlebar,
#tabbrowser-tabs {
	height: 40px;
}

#urlbar {
	z-index: 0 !important;
	min-width: 34px !important;
	max-width: 34px !important;
	transition: all 0.3s ease !important;
	border-radius: 4px !important;
}

#urlbar:hover {
	background: rgba(13, 13, 13, 0.9) !important;
	min-width: 100% !important;
	z-index: 2 !important;
}

#urlbar[breakout][breakout-extend] {
	top: 4px !important;
	left: unset !important;
	width: unset !important;
}

#urlbar-background {
	outline: none !important;
}

#urlbar-input-container {
	border: unset !important;
	padding: unset !important;
	padding-block: unset !important;
	padding-inline: unset !important;
}

#identity-icon-box {
	padding-inline: unset !important;
	padding: 0px 8px 0px 8px !important;
}

/* Tabs */
.tab-background {
	margin: 4px 0px 4px 0px !important;
	border-radius: 4px !important;
	background: transparent !important;
	margin-block: unset !important;
}

.tabbrowser-tab {
	margin: 2px 0px 2px 0px !important;
}

.tabbrowser-tab[selected=true] .tab-background {
	background: #0D0D0D !important;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25) !important;
	border: 1px solid rgba(128, 128, 128, 0.1) !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background {
	background: rgba(255, 255, 255, 0.1) !important;
}

#tabbrowser-tabs[movingtab] {
	padding-bottom: unset !important;
	margin-bottom: unset !important;
}

.titlebar-spacer,
#unified-extensions-button,
#alltabs-button,
#urlbar-background,
#tracking-protection-icon-container {
	display: none !important;
}
